:root{
    --bluemain: #809FA6;
    --brownmain : #736C49;
    --midyel: #F2DEA2;
    --lowpink: #D9C5AD;
    --hotred: #D97855;
}

@font-face {
    font-family: GTproelium;
    src: url(fonts/GTProeliumSharpItalic.otf) format('opentype');
    font-style: italic;}

@font-face {
    font-family: checkpoint;
    src: url(fonts/CP\ Font.otf);
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#barra1 {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  display: flex;
  justify-content: center;
}   

#barra1 h1{
    color: rgb(109 66 66);
    text-align: center;
    font-family: checkpoint;
    font-size: medium;
    margin-top: 10pxpx;
    gap: 5px;
}

#gitlogo{
    height: 30px;
    margin-right: 15px;
    margin-left: 9px;
}

#postitlogin{
    position: fixed;
    left: 510px;
    bottom: 149px;
    max-height: 100px;
    
    
}
body {    

    background-image: url(images/_.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #5b030b;
    margin-top: 18%;
    margin-bottom: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formlogin input {
    width: 195px;
    height: 32px;
    text-align: center;
    background-color: #c9c9c9;
    font-family: checkpoint;
    font-size: 10px;
}
#barra2{
  background-color: black;
  position: fixed;
  width: 100%;
  height: 38px;
  bottom: 0;
}

#saudacao{
   font-family: GTproelium;
   color: #a39899;
   gap: 40px;
   text-shadow: 4px 4px #7e0f42;
   font-size: 42px;
   margin-top: 30px;
   min-width: 200px;   
}

#formlogin {
   display: flex;
   gap: 16px;
   flex-direction: column;
   align-items: center;   
   font-family: karate;
   text-align: center;
   width: 400px;
   
} 

.flashes{
list-style: none;
position: absolute;
top: 100px;
color: #d59e99;
font-size: 31px;
font-family: checkpoint;
text-shadow: #3A021C 1px 2px;
}