<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>estrelas do rally</title>
</head>
<body>
    <div id="barra1"><h1>TOP 3 GLOBAL DO RALLY</h1></div>
    
     <div id="pilotos">
          <div class="piloto">
             <img src="/static/images/pilotos/SEBASTIAN LOEB/Sébastien Loeb.jpeg" alt="Sebastian Loeb">
             <h1>SEBASTIAN LOEB</h1>
          </div>

          <div class="piloto">
             <img src="/static/images/pilotos/SEBASTIAN OGUIER/sebastian_oguier.jpeg" alt="ogierwin">
             <h1>SEBASTIAN OGUIER</h1>
          </div>

         
          <div class="piloto">
             <img src="/static/images/pilotos/JUHA KANKKUNEN/Juha Kankkunen.jpeg" alt="juha kankkunen">
             <h1>JUHA KANKKUNEN</h1>
          </div>
     </div>      

     <div id="wrcintro">
         <img src="/static/images/home/subaruwrcintro.jpeg" alt="" id="subaru">
         <p>O WRC (World Rally Championship), ou Campeonato Mundial de Rally, é a principal competição de rally do mundo, organizada pela FIA (Federação Internacional de Automobilismo) desde 1973. Diferente das corridas realizadas em autódromos, o rally acontece em estradas fechadas ao público, passando por diferentes tipos de terreno, como asfalto, terra, neve e gelo, Os carros utilizados no WRC são baseados em modelos de produção, porém recebem diversas modificações para suportar as condições extremas das provas. Eles contam com motores de alto desempenho, tração integral, suspensão reforçada e sistemas de segurança desenvolvidos especificamente para o automobilismo.</p>
     </div>
         <div id="carrospopularestitulo">         
         <h1>------------CARROS POPULARES DO WRC------------</h1>
         </div>
         
     <div id="carros">
         <div id="titulo1">
            <h1>toyota celica gt-4</h1>
         </div>
         <div id="celica">
            <img src="/static/images/carros/toyota_celica.jpeg" alt="celica">
            <h2>O Toyota Celica GT-Four foi um dos carros mais marcantes da Toyota no Campeonato Mundial de Rally (WRC). Equipado com motor turbo e tração integral, destacou-se pela velocidade e resistência em diferentes tipos de terreno. Um dos principais pilotos do Celica GT-Four foi Carlos Sainz, que conquistou o título mundial de pilotos em 1990 pela Toyota com o modelo.
            </h2>            
         </div>
         <div id="titulo2">
            <h1>audi quattro</h1>
         </div>
         <div id="audi4">              
            <h2>O Audi Quattro foi um dos carros mais revolucionários da história do rally, sendo um dos primeiros a utilizar com grande sucesso a tração integral no WRC. Equipado com um potente motor turbo de cinco cilindros, ficou conhecido pela sua velocidade e desempenho em diferentes terrenos. Um dos seus principais pilotos foi **Michèle Mouton**, que se destacou ao volante do Quattro e foi vice-campeã mundial em 1982.
            </h2>
            <img src="/static/images/carros/audi4.jpeg" alt="audi">
         </div>
         <div id="titulo3">
            <h1>subaru inprenza wrx sti</h1>
         </div>
         <div id="subaru2">
            <img src="/static/images/carros/subaruinprenza.jpeg" alt="subaruinprenza">
            <h2>O Subaru Impreza WRX STI foi um dos carros mais marcantes da Subaru no Campeonato Mundial de Rally (WRC). Equipado com motor boxer turbo e tração integral, ficou conhecido pela excelente estabilidade, potência e desempenho em diferentes tipos de terreno. Um dos principais pilotos do modelo foi **Colin McRae**, que conquistou o título mundial de pilotos em 1995 ao volante do Impreza 555.
            </h2>
         </div>

     </div>
      <div id="barra2" class="barra2"> <h3>© Rally stars — Projeto desenvolvido por Gabriel Freire do nascimento</h3></div>
</body>

  
    

</html>