<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login de usuario</h1>
    <form action="/verificacao" method="post">
        <label for="nome" id="inome">
            <input name="nome" placeholder="insira seu nome" type="text">
        </label>
        <label for="senha"  id="isenha">
            <input name="senha" placeholder="insira sua senha" type="text">
        </label>
        <button type="submit">enviar</button>

    </form>
</body>
</html>