<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">   
</head>
<div id="barra1"> <h1>made by : <a id="github"  href="https://github.com/strxkyy" target="_blank">strxkyy</a> </h1> <img src="/static/images/githublogo.png" alt="gitlogo" id="gitlogo"></div>
<body>
    
       <h1 id="saudacao">seja bem vindo</h1>
    <form action="/verificacao" method="post" id="formlogin">
        <label for="nome" id="inome">
            <input name="nome" placeholder="insira seu nome de usuario" type="text">
        </label>
        <label for="senha"  id="isenha">
            <input name="senha" placeholder="insira sua senha" type="text">
        </label>
        <button type="submit">enviar</button>

    </form>
   
</body>
<div id="barra2"></div>
</html>